<form class="form">
    <h3>Are you sure you want to leave this nest?</h3>
    <h3 class="subtitle is-size-5 has-text-info">You will need the Share ID of the nest to rejoin.</h3>
    
    <div class="control  mt-6">
        <button id="leave-nest-confirm-btn" class="button is-warning">Leave Nest</button>
        <button class="button is-danger cancel-modal">Cancel</button>
    </div>
</form>