<!-- Update User Form -->
<form class="box">
    <h3>To update user information, please fill out the form below</h3>
    <div class="field">
        <label for="name" class="label"><strong>First Name:<strong /></label>
        <div class="control">
            <input id="user-first-name" class="input" type="text" placeholder="Enter your first name here" />
        </div>
    </div>

    <div class="field">
        <label for="name" class="label"><strong>Last Name:<strong /></label>
        <div class="control">
            <input id="user-last-name" class="input" type="text" placeholder="Enter your last name here" />
        </div>
    </div>

    <div class="field">
        <label for="email" class="label"><strong>Email Address:<strong /></label>
        <div class="control">
            <input id="user-email" class="input" type="email" placeholder="e.g. alex@example.com" />
        </div>
    </div>

    <div class="field">
        <label for="username" class="label"><strong>Username:<strong /></label>
        <div class="control">
            <input id="user-username" class="input" type="text" placeholder="Enter your username" />
        </div>
    </div>

    <div class="field">
        <label for="password" class="label"><strong>New Password:<strong /></label>
        <div class="control">
            <input id="user-password" class="input" type="password" placeholder="New Password" />
        </div>
    </div>

    <div class="control mt-5">
        <button id="submit-user-btn" class="button is-primary"> Update user information! </button>
        <button class="button is-danger cancel-modal">Cancel</button>
    </div>


</form>
<script src="/javascript/udateuser.js"></script>