<<<<<<< HEAD
{{!-- for the main page layout --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

  <title>Nest-Mates</title>
</head>

<hero class="hero">
    <hero-body>
        <h1 class="h1">Nest-Mates<h1>
        <h2 class="h2">The app that helps you organize household chores and hold others accountable for their messy habits!</h2>
    </hero-body>
</hero>

{{!-- <header class="header-box">
    <h1 class="header-text">Nest-Mates<h1>
    <h2 class="header-text">The app that helps you organize household chores and hold others accountable for their messy habits!</h2>
</header> --}}

<body class="content">
    <main>
        {{{ body }}}
    </main>
</body>

<footer class="footer">
    <card class="card">
        Contributors:
        <div class="block">
            Name:<strong>Forrest Ridgeway</strong>
            <a href="https://github.com/cmon-theres-gotta-be-a-name-available"></a>

        </div>
        <!-- Add your git url and name here -->
        <div class="block">
            Name:<strong>Jay Burkholder</strong>
            <a href="https://github.com/JaySBurkholder"></a>
            
        </div>
        <div class="block">
            Name:<strong></strong>
            <a href="#"> </a>

        </div>
        <div class="block">
            Name:<strong></strong>
            <a href="#"> </a>

        </div>
    </card>
</footer>
=======
<!DOCTYPE>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Main Page</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link href="~bulma-calendar/dist/css/bulma-calendar.min.css" rel="stylesheet">
    </head>
    <body>
       <input type="date" data-display-mode="inline">
        <script src="~bulma-calendar/dist/js/bulma-calendar.min.js"></script>
        <script> 
            // Initialize all input of type date
            var calendars = bulmaCalendar.attach('[type="date"]', options);

            // Loop on each calendar initialized
            for(var i = 0; i < calendars.length; i++) {
	            // Add listener to select event
	            calendars[i].on('select', date => {
		            console.log(date);
	            });
            }

            // To access to bulmaCalendar instance of an element
            var element = document.querySelector('#my-element');
            if (element) {
	            // bulmaCalendar instance is available as element.bulmaCalendar
	            element.bulmaCalendar.on('select', function(datepicker) {
		            console.log(datepicker.data.value());
	            });
            }
        </script>
    </body>
</html>
>>>>>>> 8fbd68250c6ad2ff7b36825291499d3c1abe23d1
