<h4>Add "Nest-Mates" to your "Nest"</h4>

<form class="box">
    <div class="field">
        <label for="task" class="label">Add a friend</label>
        <div class="control">
            <input class="input" type="text" placeholder="Enter your friend's first and last name."/>
        </div>
    </div>
    
    <button class="button-is-primary"> Add Friend! </button>
</form>