<div class="has-background-primary box">
    <h4>Add a task to the To-Do list</h4>
</div>
<form class="box">
    <div class="field">
        <label for="task" class="label">Add a task here</label>
        <div class="control">
            <input class="input" type="text" placeholder="Add task name"/>
        </div>
        <div class="control">
            <input class="input" type="text" placeholder="Add description"/>
        </div>
    </div>
    
<button class="button is-primary"> Submit your task! </button>
</form>