<div id="first-task-form" class="p-3 columns is-centered" data-user-id="{{userId}}" data-nest-id="{{nestId}}">
    <div class="column is-half box">
        {{>update-nest-info}}
    </div>
</div>
<script src="/javascript/firsttask.js"></script>