
<div class="content">
  <div class="calendar-container">
    <div class="tabs">
      <ul>
        <li class="calendar-date"><a>Sun</a></li>
        <li class="calendar-date"><a>Mon</a></li>
        <li class="calendar-date"><a>Tues</a></li>
        <li class="calendar-date"><a>Wed</a></li>
        <li class="calendar-date"><a>Thurs</a></li>
        <li class="calendar-date"><a>Fri</a></li>
        <li class="calendar-date"><a>Sat</a></li>
      </ul>
    </div>

    <div class="card">
       <div class="card-content">


       </div>
    </div>
    
       

     </div>
    </main>
</div>