<<<<<<< HEAD
<div class="has-background-primary box">
    <h2>Please login to your account</h2>
</div>
    <form id="login-form" class="form box">
        
        
        <div class="field">
            <label for="username" class="label"><strong>Enter your Username or Email:<strong/></label>
            <div class="control">
                <input id="username" class="input" type="text" placeholder="Enter your username"/>
            </div>
=======

<div>
    <h4>Please login to your account</h4>
</div>
<form class="box">
    <div class="field">
        <label for="username" class="label"><strong>Enter your Username:<strong/></label>
        <div class="control">
            <input class="input" type="text" placeholder="Enter your username"/>
>>>>>>> 335996e03a15632ef931379e908e6ad3688ce9bf
        </div>
    </div>

    <div class="field">
        <label for="pwd" class="label"><strong>Password:<strong/></label>
        <div class="control">
            <input class="input" type="password" placeholder="I promise I'm not keylogging"/>
        </div>
    </div>

    <button class="button-is-primary"> Log-In! </button>
</form>