<!DOCTYPE html>
<html lang="en">

{{!-- <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

  <title>Nest-Mates login</title>
</head> --}}

<body>
    <h2>Please login to your account</h2>

    <form class="box">
        <div class="field">
            <label for="username" class="label"><strong>Enter your Username:<strong/></label>
            <div class="control">
                <input class="input" type="text" placeholder="Enter your username"/>
            </div>
        </div>

        <div class="field">
            <label for="pwd" class="label"><strong>Password:<strong/></label>
            <div class="control">
                <input class="input" type="password" placeholder="I promise I'm not keylogging"/>
            </div>
        </div>

        <button class="button-is-primary"> LOG-IN </button>
    </form>
</body>