<h4>Create your "Nest"</h4>

<form class="box">
    <div class="field">
        <label for="task" class="label">Add your "Nest" address</label>
        <div class="control">
            <input class="input" type="text" placeholder="Add address of your 'Nest' here"/>
        </div>
    </div>

    <div class="field">
        <label for="email" class="label">Give your "Nest" a name</label>
        <div class="control">
            <input class="input" type="email" placeholder="e.g. alex@example.com"/>                
        </div>
    </div>
    <button class="button-is-primary"> Create "Nest"! </button>

</form>

