<<<<<<< HEAD

<div class="has-background-primary box">
    <h4 >Create your "Nest"</h4>
</div>

=======
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Nest-Mates</title>
</head>
>>>>>>> 335996e03a15632ef931379e908e6ad3688ce9bf
<form class="box">
    <div class="box">
        <h4>Create your "Nest"</h4>
    </div>

    <div class="field">
        <label for="task" class="label">Add your "Nest" address</label>
        <div class="control">
            <input class="input" type="text" placeholder="Add address of your 'Nest' here"/>
        </div>
    </div>

    <div class="field">
        <label for="email" class="label">Give your "Nest" a name</label>
        <div class="control">
<<<<<<< HEAD
            <input class="input" type="text" placeholder="Fort Kickass"/>                
=======
            <input class="input" type="email" placeholder="Fort Kickass"/>                
>>>>>>> 335996e03a15632ef931379e908e6ad3688ce9bf
        </div>
    </div>
    <button class="button is-primary"> Create "Nest"! </button>

</form>

