<<<<<<< HEAD
<!-- Sign up Form -->
<div class="has-background-primary box">
    <h3>To get started, please fill out the form below</h3>
</div>    
<form class="box">
    
    <div class="field">
        <label for="name" class="label"><strong>First Name:<strong /></label>
        <div class="control">
            <input id="first-name" class="input" type="text" placeholder="Enter your first name here" />
=======
<h4>To get started please fill out the form below</h4>
<!-- Sign up Form -->
<form class="box">
    <div class="field">
        <label for="name" class="label"><strong>Enter first and last name:<strong/></label>
        <div class="control">
            <input class="input" type="text" placeholder="Enter your full name here"/>  
>>>>>>> 335996e03a15632ef931379e908e6ad3688ce9bf
        </div>
    </div>

    <div class="field">
<<<<<<< HEAD
        <label for="name" class="label"><strong>Last Name:<strong /></label>
        <div class="control">
            <input id="last-name" class="input" type="text" placeholder="Enter your last name here" />
=======
        <label for="email" class="label"><strong>Enter Email Address:<strong/></label>
        <div class="control">
            <input class="input" type="email" placeholder="e.g. alex@example.com"/>                
>>>>>>> 335996e03a15632ef931379e908e6ad3688ce9bf
        </div>
    </div>

    <div class="field">
<<<<<<< HEAD
        <label for="email" class="label"><strong>Email Address:<strong /></label>
        <div class="control">
            <input id="email" class="input" type="email" placeholder="e.g. alex@example.com" />
=======
        <label for="username" class="label"><strong>Enter your Username:<strong/></label>
        <div class="control">
            <input class="input" type="text" placeholder="Enter your username"/>
>>>>>>> 335996e03a15632ef931379e908e6ad3688ce9bf
        </div>
    </div>

    <div class="field">
<<<<<<< HEAD
        <label for="username" class="label"><strong>Username:<strong /></label>
        <div class="control">
            <input id="username" class="input" type="text" placeholder="Enter your username" />
=======
        <label for="pwd" class="label"><strong>Password:<strong/></label>
        <div class="control">
            <input class="input" type="password" placeholder="I promise I'm not keylogging"/>
>>>>>>> 335996e03a15632ef931379e908e6ad3688ce9bf
        </div>
    </div>

    <div class="field">
<<<<<<< HEAD
        <label for="password" class="label"><strong>Password:<strong /></label>
        <div class="control">
            <input id="password" class="input" type="password" placeholder="I promise I'm not keylogging" />
        </div>
    </div>

    <div class="field">
        <label for="share-id" class="label"><strong>Sharable ID: <strong /></label>
        <div class="control">
            <input id="share-id" class="input" type="text" placeholder="Enter your Share ID to join another Nest" />
        </div>
    </div>
    <div class="control mt-5">
        <button id="submit-btn" class="button is-primary"> Sign-Up! </button>
    </div>

    <div class="block mt-5">
        <h5>Or Log-In if you already have an account</h5>
        <a href="/login" class="button is-secondary"> Log-in! </a>
    </div>

</form>
<script src="/javascript/signup.js"></script>
=======
        <label for="share-id" class="label"><strong>Sharable ID: <strong/></label>
        <div class="control">
            <input class="input" type="text" placeholder="Enter your Share ID to join another Nest"/>
        </div>
    </div>

    <button class="button-is-primary"> Sign-Up! </button>
    <h5>Or Log-In if you already have an account</h5>
    <button class="button-is-secondary"> Log-in! </button>
</form>
>>>>>>> 335996e03a15632ef931379e908e6ad3688ce9bf
