<body>
    <h2>To get started please fill out the form below</h2>
    <!-- Sign up Form -->
    <box class="box">

        <div class="field">
            <label for="name" class="field">Enter first and last name:</label>
        </div>

        <div class="field">
            <label for="email" class="">Enter Email Address:</label>
        </div>

        <div class="field">
            <label for="phone" class="">Enter your Username:</label>
        </div>

        <div class="field">
            <label for="pwd" class="">Password:</label>
        </div>

        <div class="field">
            <label for="pwd" class="">"Nest" Address:</label>
        </div>

        <button class="button-is-primary"> SUBMIT </button>
    </box>
</body>