
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="~bulma-calendar/dist/css/bulma-calendar.min.css" rel="stylesheet">

  <title>Nest-Mates</title>
</head>

<hero class="hero">
    <hero-body>
        <h1 class="h1">Nest-Mates<h1>
        <h2 class="h2">The app that helps you organize household chores and hold others accountable for their messy habits!</h2>
    </hero-body>
</hero>

{{!-- <header class="header-box">
    <h1 class="header-text">Nest-Mates<h1>
    <h2 class="header-text">The app that helps you organize household chores and hold others accountable for their messy habits!</h2>
</header> --}}

<body class="content">
    <main>
        {{{ body }}}
    </main>
</body>

<footer class="footer">
    <card class="card">
        Contributors:
        <div class="block">
            Name:<strong>Forrest Ridgeway</strong>
            <a href="https://github.com/cmon-theres-gotta-be-a-name-available"></a>

        </div>
        <!-- Add your git url and name here -->
        <div class="block">
            Name:<strong>Jay Burkholder</strong>
            <a href="https://github.com/JaySBurkholder"></a>
            
        </div>
        <div class="block">
            Name:<strong></strong>
            <a href="#"> </a>

        </div>
        <div class="block">
            Name:<strong></strong>
            <a href="#"> </a>

        </div>
    </card>
</footer>